.col-8{
    background: -webkit-linear-gradient(90deg, yellow 10%, orange 90%);
}

p{
    text-align: justify;
}
ul{
    font-style: oblique;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
h2{

    font-family:Georgia, 'Times New Roman', Times, serif;
    display: inline;
    position: relative;
    font: 100px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color: rgba(0,0,255,0.5); 
}

h2:after {
    content: "El robot desprogramado";
    position: absolute; left: 5px; top: 2.5px;
    color: rgba(255,0,0,0.5); 
   
  }
